BasedOnStyle: LLVM

IncludeBlocks: Regroup
ColumnLimit: 108
StatementMacros:
- Q_OBJECT
- USING_NS_CC
- USING_NS_CC_EXT
- USING_NS_CC_EXTRA
- NS_CC_BEGIN
- NS_CC_END
- NS_CC_ALLOCATOR_BEGIN
- NS_CC_ALLOCATOR_END
- NS_CC_EXT_BEGIN
- NS_CC_EXT_END
- NS_CC_EXTRA_BEGIN
- NS_CC_EXTRA_END