BasedOnStyle: LLVM

IncludeBlocks: Regroup
ColumnLimit: 108
MacroBlockBegin: "^NS_CC.*BEGIN$"
MacroBlockEnd: "^NS_CC.*END$"
StatementMacros:
  - Q_OBJECT
  - USING_NS_CC
  - USING_NS_CC_EXT
  - USING_NS_CC_EXTRA
  - CREATE_FUNC
  - CC_FORMAT_PRINTF