name: Test Create New CPP Project

on:
  push:
    branches: [ master ]
  workflow_dispatch:

jobs:
  test-macos:
    strategy:
      matrix:
        os: [ macos-15-intel ]
        arch: [ x64 ]
    runs-on: ${{ matrix.os }}

    steps:
      - uses: actions/checkout@v4

      - name: Setup Python 2.7
        run: |
          brew install pyenv
          pyenv install 2.7.18
          pyenv global 2.7.18
          echo "$(pyenv root)/shims" >> $GITHUB_PATH

      - name: Setup cocos2d-x Environment
        run: |
          python --version
          yes "" | python setup.py

      - name: Initialize Project
        run: |
          source /Users/runner/.bash_profile
          cocos new -l cpp aaa

      - name: Build Project
        run: |
          cd aaa
          cmake -B build -G"Xcode" --log-level=STATUS
          cmake --build build
