name: Build macOS Application

on:
  push:
    branches: [ master ]
  workflow_dispatch:

jobs:
  build:
    strategy:
      matrix:
        os: [ macos-15 ]
        arch: [ x64 ]
    runs-on: ${{ matrix.os }}

    steps:
      - name: Initial Project
        run: |
          cmake -B b -S . -GXcode

      - name: Build tests
        run: |
          cmake --build b --target cpp-tests
